<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Sign Up</h1>
  <form class="sign-up-form" action="" method="POST">
    <label for="firstname">First Name
    <input id="firstname" name="firstname" placeholder="john" type="text" /></label>
    <label for="lastname">Last Name
    <input id="lastname" name="lastname" placeholder="smith" type="text" /></label>
    <label for="username">Username
    <input id="username" name="username" placeholder="johnnysmith" type="text" /></label>
    <label for="password">Password
    <input id="password" name="password" type="password" /></label>
    <label for="confirmpassword">Confirm Password
    <input id="confirmpassword" name="confirmpassword" type="password" /></label>
    <button>Sign Up</button>
  </form>
</body>
</html>
