body {
  margin: 0;
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  text-shadow: .5px 1px .25px rgb(73, 73, 73);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  height: 2.5rem;
}

a {
  color: #00202d;
  text-decoration: none;
}

main {
  margin: 50px;
  flex: 1;
}

.navbar {
  background-color: lightcyan;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
  margin: 0;
}

.navbar > ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item {
  background-color: inherit;
  border-radius: 5px;
  padding: 2px;
  transition: all .5s ease-in-out;
}

.nav-item:hover {
  background-color: #abcdef;
  border-radius: 8px;
  padding: 3px;
}

.navbar-brand {
  background-color: inherit;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: fit-content;
  transition: all .5s ease-in-out;
}

.navbar-brand:hover {
  background-color: #abdcef;
  border-radius: 8px;
  padding: 8px;
}


.message {
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr 2fr .5fr .4fr;
  justify-content: center;
  padding: 8px;
}

form {
  display: grid;
  grid-template-columns: repeat(1fr, 6);
  width: 20rem;
  gap: 5px;
  border: 2px solid black;
  justify-content: center;
  padding: 1rem 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-shadow: none;
}

input, textarea {
  display: flex;
  width: 15rem;
  height: 1.2rem;
}

/* button {
  height: 1rem;
  background-color: lightcyan;
  border: .2px solid black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

button:hover {
  background-color: #abcdef;
  border-radius: 8px;
  border: none;
  padding: 3px;
} */

.form-submit {
  height: 1.2rem;
  width: 5rem;
  place-self: center;
  background-color: lightcyan;
  border: .2px solid black;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.form-submit:hover {
  height: 2rem;
  width: 5.2rem;
  font-size: 16px;
  background-color: #abcdef;
  border-radius: 8px;
  border: none;
  padding: 3px;
}

.footer{
  position: static;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: lightcyan;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer > a {
  color: inherit;
  transition: all .5s ease-in-out;
}
/* 
.nav-item {
  background-color: inherit;
  border-radius: 5px;
  padding: 2px;
  transition: all .5s ease-in-out;
} */

.footer > a:hover {
  color: #00172e;
  font-size: 16px;
}