body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #1b635e;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}